*{
    margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
.login-box{
    width: 360px;
    height: 320px;
    margin: auto;
    margin-top: 40px;
    background-color: slategray;
    border-radius: 3px;

}
h3{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    
}
form{
    width: 300px;
    margin-left: 20px;  

}
form label{
    display: flex; 
    margin-top: 20px;
    font-size: 20px;


}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(209, 240, 222);
    color: black;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color:white;
    font-size: 15px;
    margin-top: -10px;
}

